<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="API Test Suite">
  <listeners>
    <listener class-name="utils.TestExecutionReporter"/>
  </listeners>
  <test name="API CRUD Tests">
    <classes>
      <class name="runners.TestNGApiRunner"/>
    </classes>
  </test>
</suite>